.nav-link{
    color: white !important;
    list-style: none;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
}

.header-content{
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

